# Section 1.1 â€” Introduction to data

In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Random selection

In [9]:
import random
samplingframe = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.sample(samplingframe, 3)

[1, 10, 5]

In [13]:
def flip_coin():
        r = random.random()
        if r < 0.5:
            print("intervention")
        else:
            print("control")

flip_coin()

control

## Random assignment

In [3]:
df = pd.DataFrame({"x":[1,2,3], "y":["a", "a", "c"]})
df

   x  y
0  1  a
1  2  a
2  3  c

In [5]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [4]:
# print(df.to_latex())

In [40]:
import random
random.seed(22)

In [41]:
# select sample of 20 from 100 individuals
pop1 = range(1,101)
print(sorted(random.sample(pop1, 20)))

[4, 7, 11, 16, 18, 23, 24, 30, 32, 35, 41, 45, 58, 71, 77, 79, 84, 88, 90, 95]

In [42]:
# 5 strata of 20 individuals
strata = [range(1,21) for s in range(5)]
for statum in strata:
    print(sorted(random.sample(statum, 4)))

[1, 2, 9, 14]
[6, 7, 10, 14]
[2, 4, 17, 19]
[6, 9, 11, 20]
[5, 10, 13, 17]

In [43]:
# choose 2 clusters out of 10
clusters = range(1,11)
print(sorted(random.sample(clusters, 2)))

[5, 10]