# Background stories for the example datasets

Links

- https://riptutorial.com/pandas/example/15180/read-nginx-access-log--multiple-quotechars-
- [ParseNginxAccessLogs.ipynb](./explorations/ParseNginxAccessLogs.ipynb)

In [2]:
import pandas as pd

## Collecting the website visitors dataset

Remore shell  
`zcat /var/log/nginx/access.log.*.gz > /tmp/access_logs.txt`


Local shell  
`scp minireference.com:/tmp/access_logs.txt data/access_logs.txt`

In [2]:
# access_logs = open("data/access_logs.txt")
# df = pd.read_csv(
#     access_logs,
#     sep=r'\s(?=(?:[^"]*"[^"]*")*[^"]*$)(?![^\[]*\])',
#     engine='python',
#     usecols=[0, 3, 4, 5, 6, 7, 8],
#     names=['ip', 'time', 'request', 'status', 'size', 'referer', 'user_agent'],
#     na_values='-',
#     header=None
# )

In [11]:
visitors = pd.read_csv("../datasets/visitors.csv")
visitors.head()

        IP address version  bought
0     135.185.92.4       B       0
1      14.75.235.1       A       0
2   50.132.244.139       B       0
3  144.181.130.234       A       0
4      90.92.5.100       B       1

- A VIEWS = CONTAINS /static/images/homepage/bgA.jpg
- B VIEWS = CONTAINS /static/images/homepage/bgB.jpg
- A CONVERSIONS = CONTAINS /static/images/homepage/bgA.jpg and /thankyou
- B CONVERSIONS = CONTAINS /static/images/homepage/bgB.jpg and /thankyou
- p_A = A CONVERSIONS / A VIEWS
- p_B = B CONVERSIONS / B VIEWS

In [12]:
visitors.groupby("version") \
         ["bought"].value_counts(normalize=True)

version  bought
A        0         0.953649
         1         0.046351
B        0         0.943205
         1         0.056795
Name: bought, dtype: float64

In [17]:
visitors.groupby("version") \
         ["bought"].agg(["sum", "count"]) \
         .eval("sum/count")

version
A    0.046351
B    0.056795
dtype: float64

## Collecting the electricity prices dataset

In [4]:
# xE = [7.7, 5.9,  7, 4.8, 6.3, 6.3, 5.5, 5.4, 6.5]
# xW = [11.8, 10, 11, 8.6, 8.3, 9.4,   8, 6.8, 8.5]

In [5]:
eprices = pd.read_csv("../datasets/eprices.csv")
eprices.head()

    end  price
0  East    7.7
1  East    5.9
2  East    7.0
3  East    4.8
4  East    6.3

## Collecting the students dataset

In [8]:
students = pd.read_csv("../datasets/students.csv", index_col="student_ID")
print(students.head())

           background curriculum  effort  score
student_ID
1                arts     debate   10.96   75.0
2             science    lecture    8.69   75.0
3                arts     debate    8.60   67.0
4                arts    lecture    7.92   70.3
5             science     debate    9.90   76.1

```
SELECT <which variables> FROM <which table>;
SELECT <which variables> FROM <which table> WHERE <conditions>;

e.g. 
SELECT student_id, time_on_task FROM learner_analytics;
SELECT student_id, scrore FROM student_final_grades;

AGGREGATE total effort
JOIN effort and score tables
```

In [3]:
students = pd.read_csv("../datasets/students.csv", index_col="student_ID")
students

           background curriculum  effort  score
student_ID
1                arts     debate   10.96   75.0
2             science    lecture    8.69   75.0
3                arts     debate    8.60   67.0
4                arts    lecture    7.92   70.3
5             science     debate    9.90   76.1
6            business     debate   10.80   79.8
7             science    lecture    7.81   72.7
8            business    lecture    9.13   75.4
9            business    lecture    5.21   57.0
10            science    lecture    7.71   69.0
11           business     debate    9.82   70.4
12               arts     debate   11.53   96.2
13            science     debate    7.10   62.9
14            science    lecture    6.39   57.6
15               arts     debate   12.00   84.3

In [4]:
xD = students[students["curriculum"]=="debate"]["score"].values
xL = students[students["curriculum"]=="lecture"]["score"].values

In [6]:
import numpy as np
np.mean(xD), np.mean(xL), np.mean(xD) -np.mean(xL)

(76.4625, 68.14285714285714, 8.319642857142867)

In [7]:
from scipy.stats import ttest_ind

ttest_ind(xD, xL)

Ttest_indResult(statistic=1.7197867420465698, pvalue=0.10917234443214315)