# Practical data exercises

This notebook contains all solutions of the exercises from **Section 1.2 Data in practice** in the **No Bullshit Guide to Statistics**.

### Notebooks setup

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Pandas setup
pd.set_option("display.precision", 2)

# E?.?

Melt wide data in `exercises/grades.csv` into long data.

In [3]:
df = pd.read_csv("../datasets/exercises/grades.csv")
df.melt(id_vars=["student_ID"],
        var_name="test",
        value_name="grade")

    student_ID   test  grade
0          101  test1     62
1          102  test1     68
2          103  test1     73
3          104  test1     59
4          105  test1     65
5          106  test1     72
6          107  test1     57
7          101  test2     74
8          102  test2     73
9          103  test2     63
10         104  test2     74
11         105  test2     76
12         106  test2     65
13         107  test2     60
14         101  test3     78
15         102  test3     91
16         103  test3     75
17         104  test3     85
18         105  test3     69
19         106  test3     80
20         107  test3     56