# Minimal dataset in various formats

In [28]:
import pandas as pd

## Minimal clean

In [29]:
records = [
    [1.0, 2.0, "a", 3],
    [1.5, 1.0, "a", 2],
    [2.0, 1.5, "a", 1],
    [2.5, 2.0, "b", 3],
    [3.0, 1.5, "b", 3],
]
columns = ["x", "y", "team", "level"]

minimal = pd.DataFrame(records, columns=columns)
minimal

     x    y team  level
0  1.0  2.0    a      3
1  1.5  1.0    a      2
2  2.0  1.5    a      1
3  2.5  2.0    b      3
4  3.0  1.5    b      3

In [32]:
# print(
#     '"x": [' + ", ".join([str(el) for el in minimal["x"].values]) + "],\n" + \
#     '"y": [' + ", ".join([str(el) for el in minimal["y"].values]) + "],\n" + \
#     '"team": [' + ", ".join(['"'+el+'"' for el in minimal["group"].values]) + "],\n" + \
#     '"level": [' + ", ".join([str(el) for el in minimal["level"].values]) + "],\n"
# )

## Save `minimal` in various formats

### CSV

In [33]:
# minimal.to_csv("../datasets/minimal.csv", index=False)

### TSV

In [35]:
# minimal.to_csv("../datasets/formats/minimal.tsv", index=False, sep="\t")

### JSON

In [36]:
# minimal.to_json("../datasets/formats/minimal.json", orient="records", indent=2)

### XML

In [49]:
# minimal.to_xml("../datasets/formats/minimal.xml", index=False,
#                root_name="players", row_name="player")

### Spreadsheet formats

LibreOffice, Excel (modern), and Excel (old)

In [39]:
# minimal.to_excel("../datasets/formats/minimal.ods", index=False)
# minimal.to_excel("../datasets/formats/minimal.xlsx", index=False)
# minimal.to_excel("../datasets/formats/minimal.xls", index=False)

### HTML table

In [41]:
# minimal.to_html("../datasets/formats/minimal.html", index=False)

### SQLite3 database

In [42]:
# !rm ../datasets/formats/minimal.sqlite

In [43]:
# from sqlalchemy import create_engine
# engine = create_engine("sqlite:///../datasets/formats/minimal.sqlite")
# minimal.to_sql("players", con=engine, index=False)

## Save `minimal` dataset with missing values and outlier

In [45]:
from math import nan

raw_records = [
    [1.0, 2.0, "a", 3],
    [1.5, 1.0, "a", 2],
    [2.0, 1.5, "a", 1],
    [1.5, 1.5, "a", None],
    [ 10,  10, "a", 3],
    [2.5, 2.0, "b", 3],
    [3.0, 1.5, "b", 3],
    [ 11, nan, "b", 2],
]
rawdf = pd.DataFrame(raw_records, columns=["x", "y", "grp", "lvl"])
rawdf

      x     y grp  lvl
0   1.0   2.0   a  3.0
1   1.5   1.0   a  2.0
2   2.0   1.5   a  1.0
3   1.5   1.5   a  NaN
4  10.0  10.0   a  3.0
5   2.5   2.0   b  3.0
6   3.0   1.5   b  3.0
7  11.0   NaN   b  2.0

In [46]:
def containedin(df, DF):
    """Check if data frame `df` is containd in data frame `DF`."""
    for idx, row in df.iterrows():
        row_in_DF = (row == DF).all(axis=1).any()
        if ~row_in_DF:
            return False
    return True

# make sure rawdf contains data from `minimal` (up to column renames)
containedin(minimal, rawdf.rename(columns=dict(grp="team", lvl="level")))

True

In [47]:
# rawdf.to_csv("../datasets/raw/minimal.csv", index=False)